name: Build-A1

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake build-essential libncurses-dev

      - name: Configure
        run: cmake -S . -B build

      - name: Build
        run: cmake --build build --config Release
